body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .main {
    display: flex;
  }

  .pokemons-list,
  .pokedex {
    padding: 0 10px 20px;
    border-bottom: 1px solid;
    flex-grow: 1;
    width: 50%;
  }

  .form-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  h1 {
    margin: 40px;
    text-transform: uppercase;
    text-align: center;
    color: #089eca;
    font-size: 3em;
  }

  li:hover {
    transform: scale(1.1);
  }

  .pokemons-list, .pokedex {
    border: 1px solid #000;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    /* Responsive Styles */
    @media only screen and (max-width: 600px) {
      /* Adjust styles for small screens */
      padding: 10px;
    }
  }

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  li {
    margin: 10px;
    text-align: center;
  }

  .pokemon-item {
    list-style: none;
    margin: 10px;
    text-align: center;
  }

  .pokemon-image {
    max-width: 100%;
    height: auto;
  }

  .pokemon-name {
    display: block;
    margin-top: 5px;
  }

  .catch-button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  /* Adjust styles for small screens */
  @media only screen and (max-width: 600px) {
    li {
      width: 100%;
      margin: 10px 0;
    }
    .pokemon-item {
      margin: 10px 0;
    }

    .pokemon-name {
      margin-top: 10px;
    }

    .catch-button {
      width: 100%;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }